$message-border-radius:           4px;
$message-background-color:        hsl(0, 0%, 100%);
$message-color:                   hsl(0, 0%, 14%);
$message-footer-background-color: hsl(0, 0%, 97%);
$message-footer-color:            hsl(0, 0%, 29%);

.message{
  margin:           0.5rem 0 1.8rem 0;
  padding:          1rem 1.25rem;
  padding-bottom:   0;
  background-color: $message-background-color;
  color:            $message-color;
  border-radius:    $message-border-radius;
  box-shadow:       0 2px 6px 0 hsla(0, 0%, 0%, 0.15);

  .message-footer{
    margin:                     1rem -1.25rem 0 -1.25rem;
    padding:                    0.8rem 1.25rem;
    background-color:           $message-footer-background-color;
    color:                      $message-footer-color;
    border-bottom-left-radius:  $message-border-radius;
    border-bottom-right-radius: $message-border-radius;
  }
}
