$serving-border-radius:           4px;
$serving-background-color:        hsl(0, 0%, 100%);
$serving-color:                   hsl(0, 0%, 14%);
$serving-footer-background-color: hsl(0, 0%, 97%);
$serving-footer-color:            hsl(0, 0%, 29%);

.serving{
  margin:           0.5rem 0 1.8rem 0;
  padding:          1rem 1.25rem;
  padding-bottom:   0;
  background-color: $serving-background-color;
  color:            $serving-color;
  border-radius:    $serving-border-radius;
  box-shadow:       0 2px 6px 0 hsla(0, 0%, 0%, 0.15);

  .serving-body{
    height: 35vh;
    overflow-y: scroll;
  }

  .serving-footer{
    margin:                     1rem -1.25rem 0 -1.25rem;
    padding:                    0.8rem 1.25rem;
    background-color:           $serving-footer-background-color;
    color:                      $serving-footer-color;
    border-bottom-left-radius:  $serving-border-radius;
    border-bottom-right-radius: $serving-border-radius;
  }
}
